# Virtual Environment
.venv/

# Python
__pycache__/

# IDE specific files
.vscode/
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/
.pytest_cache/

#other
*.txt
!requirements.txt  
